.container {
  height: 38vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px dotted black;
}

.figurebox {
  height: 17em;
}

.imgbox {
  height: 100%;
}

.sectionbox {
  text-align: center;
}
